.form {
  display: flex;
  flex-direction: column;

  border: 1px solid rgb(85, 82, 82);
  width: 400px;
}

.label {
  margin: 10px;
}

.input {
  display: block;
}

.button {
  width: 150px;
  margin: 10px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  background-color: gray;
}

.button:hover {
  transform: scale(1.03);
  background-color: rgb(130, 179, 223);
}
